<main>
    <h2>Carros Estacionados</h2>

    <table id="tabela">
        <thead>
            <tr>
                <th>Placa</th>
                <th>Condutor</th>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Data e horario de entrada</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var carro in @ViewData["Carros"] as List<CarroEstacionado>)
            {
                @if(carro == null)
                {
                    continue;
                } else if (carro.DataEntrada.ToShortDateString().Equals(DateTime.Today.ToShortDateString()))
                {

                <tr>
                    <td>@carro.Placa</td>
                    <td>@carro.NomeCondutor</td>
                    <td>@carro.Modelo.Nome</td>
                    <td>@carro.Marca.Nome</td>
                    <td>@carro.DataEntrada</td>
                    <td>
                        <a href="/CarroEstacionado/Excluir?placa=@carro.Placa">Retirar do estacionamento</a>
                        <!-- <a asp-controller="CarroEstacionado" asp-action="Excluir?placa=@carro.Placa">Retirar do estacionamento</a> -->
                    </td>
                </tr>
                }
            }
        </tbody>
</table>
</main>